$color-mine-shaft: #212121;
$color-dodger-blue: #2196f3;
$color-white: #ffffff;
$color-tuna: #2f303a;
$color-black: #000000;
$color-boulder: #757575;
$color-white-transperent: rgba(255, 255, 255, 0.6);
$color-wild-sand: #f5f5f5;
$color-whisper: #f5f4fa;
$color-black-transparent: rgba(0, 0, 0, 0.15);
$color-gallery: #eeeeee;
$color-Bombay: #afb1b8;
