.buisineіs {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &__items {
    display: flex;
    padding-bottom: 94px;
  }

  &__item {
    width: calc((100% - 60px) / 3);
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__text {
    position: absolute;
    margin: 0;
    padding: 27px 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: $color-white;
  }
}
