.project {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 94px 0;
  }

  &-button__items {
    display: flex;

    flex-wrap: wrap;
    margin: 0 0 40px;

    @media (min-width: 768px) {
      justify-content: center;
      margin: 0 0 30px;
    }

    @media (min-width: 1200px) {
      justify-content: center;
      margin: 0 0 50px;
    }
  }

  &-button__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }

  &-button__action {
    font-family: "Roboto", sans-serif;
    padding: 6px 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background: $color-whisper;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-dodger-blue;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    display: block;
    width: 100%;
    border: 1px solid $color-gallery;
    box-sizing: border-box;
    transition: cborder cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    @media (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media (min-width: 1200px) {
      width: calc((100% - 60px) / 3);
    }
  }

  &__item:hover .project__text {
    transform: translateY(0);
  }

  &__item:hover,
  &__item:focus {
    border: 1px solid $color-gallery;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
      width: 100%;
      max-width: 100%;
    }

    @media (min-width: 1200px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $color-white;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    margin: 0;
    transform: translateY(101%);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  &__info {
    padding: 20px 24px;
  }

  &__title {
    color: $color-mine-shaft;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 0 4px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.88;
    color: $color-boulder;
    margin: 0;
  }
}
