.value {
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 30px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      
      padding: 94px 0 118px;
    }
  }

  &__item {
    width: 100%;
    margin: 0;

    @media (min-width: 768px) {
      width: calc((100% - 45px) / 2);
    }
    @media (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px 0;
  }

  &__icon {
    background-color: $color-whisper;
    border-radius: 4px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-mine-shaft;
    margin: 0 0 10px;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__deskription {
    line-height: 1.71;
    color: $color-boulder;
    margin: 0 0 30px;

   
  }
  }

